:root {
    --button-bg: #0A2540;
    --button-hover-bg: #3d5974;
  }
  .blue_gradient_background{
    background-image: linear-gradient(#0A2540, #244E77);
  }
.navbar-parent{
    background: #E5F2FF;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 65%;
    height: 12vh;
};
.nav-link{
    font-weight: 700 !important;
}
.btn .search_btn{
    background-color: var(--button-bg) !important;
    color: white;
}
.arrow-icon{
    margin-left: 4px;
}
.input-group{
    max-width: 75%;
}
.btn .quests_btn{
    border-radius: 10px;
}
.aisquare_white_logo{
    height: 75%;
}
.logo_section_links{
    margin-left: 30px;
}
.join_btn{
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    padding: 6px;
    width: 11vw;
    border-radius: 20px;
    font-size: 13px;
}
.join_btn:hover{
    background-color: var(--button-hover-bg);
    color: black;
}
.logo_container{
    margin-left: 5vw;
}
.firefly_section {
    height: 100vh;
    background: url("https://s3-alpha-sig.figma.com/img/3737/c65e/c8a7b391cee618ad5953e5a958ead7bd?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Oa8Rjoebj-~088tQGaCyzgCqpDkzq5j035aQuq5C9kHRkgB1vjBIZD~N5WRWRqT2fs2QMel9Y04HD5hZmb5fCoO5qJw6zEiiDqdXR7kaWWrb43Q4etH-pmzup3nsJpNdYN7gnK22KnH4BUQabN9aKgLsOslt~9cu2C6BxWl6d9CWkuOWXtgxfWl6lVmeTSvsH8BFUhWCmJu-6as5bntKFgik8mEhaVE-YC6WKEjsKooxZEcIX5aBsAId-AolOiJBpKRPsiIuS8FC97HqAb6h2FZLTxHdoIzQi~3qM7R66NRi~7xHhMMPorCi915IfRlzhGBjXnszmn52yUk8ag12fg__");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; /* Prevents pseudo-element overflow */
}

.firefly_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./assets/Rectangle2.png") no-repeat center center;
    background-size: cover; /* Adjust as needed */
    opacity: 0.6; /* Semi-transparent overlay */
    z-index: 1;
}

.firefly_section h4 {
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 37px;
}

.firefly_info {
color: #fff;
font-weight: 400;
}

.ai_info_header{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    color: #0A2540;
}
.ai_learning_header{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    color: #fff;
}
.ai_learning_p{color: #fff;}
.learning_section_links{
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
}
.learning_card{
    border-radius: 59px;
    background: url("https://s3-alpha-sig.figma.com/img/3365/021d/a70d4555ce147b5cabc4c900f7308661?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HExH0OyU8vILILfoztDfiVtK7qvKySoyiPAdh3FaVloQi1AM16ot1FE-MNwG4bTFC57XrQTOgH-B9oY~Ucel-aTlKr2Wo~RnjDBphXJTTI816s1cmnkJfGuB3SzIzN7Oj5OLw9o~caY0vSEJRHotpLUt1Eo8O3Dkk6RJQYrUCdk2t9eiwn7TXcdKPWxaO7EJfAdPdduyoiQtnIAdPqtaxzyS5KBKibHMXKhPBJBHr6go4-4KzQzsluQNQLLTdHPQDPHCajTWXaCnw41tGco1a3IiBrKkNyiNR5TnH9CRculMkEvfoe-jrEylqSxh6xglR3qX88WajV~rhshg~TJK~g__");
    h5{color: #fff;}
    p{color: #fff;}
}
.learning_card_list{
    background-color: #0A2540;
    color: #fff;
}
.learning_quiz_card{
    width: 72%;
    height: 60vh;
    padding: 15px;;
    .learning-quiz-btn {
        width: 200px; /* Set button width */
        background-color: transparent;
        border: 1px solid #00695c; /* Border color and thickness */
        margin-top: 3px;
        border-radius: 5px;
    }
    .check_btn{
        border: none;
        background-color: #00695c; /* Border color and thickness */
        width: 200px; /* Set button width */
        border-radius: 10px;
        margin-top: 3px;
        color: #fff;
    }
}
.learning_insights_image{
    height: 83%;
    border-radius: 5px;
}
.earn_image_top{
    height: 30%;
    border-radius: 5px;
}
.earn_image_bottom{
    height: 30%;
    border-radius: 5px;
}
.discover_section_icon{height: 35px;}
.popular_games_container{background-image: linear-gradient(#0A2540, #244E77);}
.math_premier_league_card{background-image: linear-gradient(#00695C, #0F8879);}
.python_challengers_card{background-image: linear-gradient(#6B5B95, #8B7FB8);}
.ai_adventures_card{background-image: linear-gradient(#FFA500, #FFB039);}
.community_images{height:40vh;}

.users_section{
    border-radius: 5px;
    color: #fff;
}
.aisquare_blue_logo{
    background-image: url(assets/blue_logo_gradient.png);
}
.demo_button{
    border: 1px solid #0A66C2;
    background: transparent;
    color: #0A2540;
    border-radius: 20px;
    padding: 5px 10px;
    width: 20vw;
}
.started_button{
    border: none;
    background: #0A2540;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    width: 16vw;
}
.footer_logo{
    height: 75%;
}

/* FONTS */
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }