:root {
    --button-bg: #0A2540;
    --button-hover-bg: #3d5974;
  }
  .blue_gradient_background{
    background-image: linear-gradient(#0A2540, #244E77);
  }
  body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
    width: 100vw; 
  }

.header_section{
    background-image: url(assets/semicircle_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    background-position: bottom;
    position: relative;
    height: 360px;
    width: 102vw;
    .navbar-parent .navbar-nav {
        display: flex;
        justify-content: space-between; 
        width: 85%; 
        padding: 0; 
    }
}
.navbar-parent{
    background: #E5F2FF;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 65%;
    height: 90px;
};
.nav-link{
    font-size: 14px;
}
.search-bar {
    border-radius: 50px;
    border-radius: 5px !important;
  }
  .search-button {
    background: #0A2540;
    color: #fff;
    width: 7vw;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border: none;
  }
  .search-button:hover {
    background: #2b4056;
    color: #fff;
  }
  .quests-button {
    border: 1px solid #0A2540;
    width: 8vw;
    border-radius: 7px !important;
  }
  .quests-button:hover {
    background-color: #0A2540;
    color: #fff;
  }


.arrow-icon{
    margin-left: 4px;
}
.input-group{
    max-width: 75%;
}
.btn .quests_btn{
    border-radius: 10px;
}
.aisquare_white_logo{
    height: 25%;
}
.logo_section_links{
    color: #0A2540;
    font-weight: 400 !important;
    font-size: 14px;
}
.logo_section_links:hover{
    text-decoration: underline;
    text-decoration-color: #0A2540;
}
.join_btn{
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    padding: 4.8px;
    width: 11.5vw;
    border-radius: 20px;
    font-size: 12.3px;
}
.filefly_buttons{
    z-index: 100;
}
.get_started_btn{
    background-color: #fff;
    color: #0A2540;
    border: none;
    padding: 4.8px;
    width: 18vw;
    height: 49px;
    border-radius: 20px;
    font-size: 20px;
}
.get_started_btn:hover{
    background-color: #d6d3d3;
    color: #0A2540;
}
.try_btn{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 4.8px;
    width: 314px;
    height: 49px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 1.5vw;
}
.try_btn:hover{
    background-color: #fff;
    color: #0A2540;
}
.join_btn:hover{
    background-color: var(--button-hover-bg);
    color: black;
}
.logo_container{
    margin-left: 5vw;
}
.logo-navbar{
    background: transparent;
}
.firefly_section {
    height: 130vh;
    background:  linear-gradient(rgba(10, 37, 64, 0.9), rgba(36, 78, 119, 0.5)), url("https://s3-alpha-sig.figma.com/img/3737/c65e/c8a7b391cee618ad5953e5a958ead7bd?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Oa8Rjoebj-~088tQGaCyzgCqpDkzq5j035aQuq5C9kHRkgB1vjBIZD~N5WRWRqT2fs2QMel9Y04HD5hZmb5fCoO5qJw6zEiiDqdXR7kaWWrb43Q4etH-pmzup3nsJpNdYN7gnK22KnH4BUQabN9aKgLsOslt~9cu2C6BxWl6d9CWkuOWXtgxfWl6lVmeTSvsH8BFUhWCmJu-6as5bntKFgik8mEhaVE-YC6WKEjsKooxZEcIX5aBsAId-AolOiJBpKRPsiIuS8FC97HqAb6h2FZLTxHdoIzQi~3qM7R66NRi~7xHhMMPorCi915IfRlzhGBjXnszmn52yUk8ag12fg__");
    background-size: cover;
    z-index: 1;
    margin-top: -40px;
    overflow: hidden;
}

.firefly_section h4 {
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
}

.firefly_info {
    color: #fff;
    font-weight: 400;
    z-index: 100;
    font-size: 24px;
}
.growth_span{font-weight: 300;}
.ai_info_container{
    background-image: url(assets/semicircle-bottom.png);
    background-position: top;
    margin: -40px;
    height: 65vh;
    align-items: center;
}
.ai_info_header{
    font-family: "Poppins", serif;
    font-weight: 600 !important;
    font-style: normal;
    font-size: 37px;
    color: #0A2540;
}
.ai_info_sub_header{
    color: #0A2540;
    font-size: 27.66px;
    font-weight: 300 !important;
}
.ai_info_p{
    color: #0A2540;
    font-size: 24px;
    font-weight: 600 !important;
}
.ai_learning_header{
    font-family: "Poppins", serif;
    font-weight: 600 !important;
    font-style: normal;
    font-size: 37px;
    color: #fff;
}
.ai_learning_sub_header{
    color: #fff;
    font-size: 27.66px;
    font-weight: 300 !important;
}
.ai_learning_p{
    color: #fff;
    font-size: 24px;
    font-weight: 600 !important;
}
.learning_card_container{
    
    .card-title{
        font-weight: 600 !important;
        font-size: 48px;
    }
    .card_content{
        font-weight: 400 !important;
        font-size: 24px;
    }
  
}
.str_logo{
    width: 15%;
    height: 9%;
    position: relative;
}
.stroke_logo{
    bottom: 335vh;
    left: 57.2vw;
    z-index: 1;
}
.stroke_logo2 {
    bottom: 45vh;
    right: 45vw;
}
.stroke_logo3{
    bottom: 232vh;
    left: 26.7vw;
}
.learning_section_links{
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
}
.learning_section_buttons{
    border: none;
    background: transparent;
    color: #fff;
    width: 7vw;
    height: 6vh;
    text-decoration: underline;
    text-decoration-color: #fff;
}
.learning_section_buttons:hover{

    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    
}
.learning_card{
    z-index: 2;
    border-radius: 59px;
    background: url("https://s3-alpha-sig.figma.com/img/3365/021d/a70d4555ce147b5cabc4c900f7308661?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HExH0OyU8vILILfoztDfiVtK7qvKySoyiPAdh3FaVloQi1AM16ot1FE-MNwG4bTFC57XrQTOgH-B9oY~Ucel-aTlKr2Wo~RnjDBphXJTTI816s1cmnkJfGuB3SzIzN7Oj5OLw9o~caY0vSEJRHotpLUt1Eo8O3Dkk6RJQYrUCdk2t9eiwn7TXcdKPWxaO7EJfAdPdduyoiQtnIAdPqtaxzyS5KBKibHMXKhPBJBHr6go4-4KzQzsluQNQLLTdHPQDPHCajTWXaCnw41tGco1a3IiBrKkNyiNR5TnH9CRculMkEvfoe-jrEylqSxh6xglR3qX88WajV~rhshg~TJK~g__");
    background-image: radial-gradient(#a5efff14 20%, #6ebff433 4.48%, #4690d424 0%);
    margin-bottom: 12vh;
    h5{color: #fff;}
    p{color: #fff;}
}
.white-line-container {
    position: absolute;
    top: 0;
    left: 67px;
    height: 70%;
    background-image: url(assets/white_line.png);
    background-repeat: repeat-y;
    background-size: contain;
}
.learning_card_list{
    font-weight: 650 !important;
    background-color: #0A2540;
    color: #fff;
}
.custom-accordion {
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
  .custom-accordion-button::after {
    content: none;
  }
  .accordion-button:not(.collapsed){
    background-color: #0A2540;
    color: #fff;
    box-shadow: none;
  }
  .accordion-item{
    background: none;
  }
  #accordion-header{
    font-size: 24px;
    font-weight: 600 !important;
  }
  
  .custom-accordion-item {
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-accordion-button {
    background-color: #0A2540;
    color: #fff;
    border: none;
    text-align: left;
    border-radius: 0;
    padding: 15px 20px;
  }
  
  .custom-accordion-button:focus {
    box-shadow: none;
  }
  
  .custom-accordion-body {
    background-color: #0A2540;
    color: #fff;
    border: none;
    padding-left: 30px;
    padding-top: 0px;
    font-size: 20px;
  }
  
.quiz_buttons_container{
    margin-top: 8vh;
    height: 100%;
}
.quiz_buttons{
    display: flex;
    justify-content: center;
    margin-top: 11px;
}
.learning_quiz_card{
    width: 72%;
    height: 60vh;
    padding: 15px;;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.2);
    .learning-quiz-btn {
        width: 200px;
        background-color: transparent;
        border: 1px solid #207c70;
        margin-top: 3px;
        border-radius: 5px;
    }
    .check_btn{
        border: none;
        background-color: #207c70;
        width: 200px;
        border-radius: 10px;
        margin-top: 3px;
        color: #fff;
    }
}
.play_image {
    height: 550px;
    width: 465px;
}
.learning_insights_image{
    width: 463px;
    height: 600px;
    border-radius: 30px;
}
.earn_image{
    width: 465px;
}
.discover_section_icon{height: 35px;}
.discover_card {
    width: 337px; 
    margin: 0 auto; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 2px;
    height: 223px;
}
.discover_card:hover {
    transform: scale(1.1);
}

.discover_card .card-header {
    text-align: left; 
    background-color: #fff; 
    border: none;
}

.discover_section_icon {
    width: 50px; 
    height: auto;
}

.discover_card .card-body {
    text-align: left; 
}

.discover_header{
    font-size: 48px;
    color: #0A2540;
    font-weight: 600 !important;
}

.discover_title {
    font-weight: 600 !important;
    color: #0A2540 !important;
    font-size: 22.83px; 
    margin-bottom: 0.5rem;
}
.discover_p{
    font-size: 16.6px;
    color: #0A2540;
}

.row.gap-4 {
    gap: 1.5rem; 
}

.popular_header{font-size: 48px; color: #FFFFFF; font-weight: 600 !important;}
.popular_games_container{
    background-image: linear-gradient(#0A2540, #244E77);
 
.card {
    width: 352px;
    height: 458px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-icon {
    width: 85px;
    height: 120px;
    transition: transform 0.3s ease-in-out;
}
.adventure_icon{
    width: 115px !important;
}

.card:hover{
    .card-icon{
        transform: scale(1.1);
    }
}

.popular_start_button{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400 !important;
}


.math_premier_league_card {
    background-image: linear-gradient(#00695C, #0F8879);
}


.python_challengers_card {
    background-image: linear-gradient(#6B5B95, #8B7FB8);
}


.ai_adventures_card {
    background-image: linear-gradient(#FFA500, #FFB039);
}


.card-header h5 {
    font-size: 25px;
    font-weight: bold;
}


.card-footer p {
    margin-bottom: 1rem;
}

.card-footer button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 50%;
}

.card-footer button:hover {
    background-color: #e0e0e0;
}


 
}
.math_premier_league_card{width: 352px; height: 458px; background-image: linear-gradient(#00695C, #0F8879);}
.python_challengers_card{width: 352px; height: 458px; background-image: linear-gradient(#6B5B95, #8B7FB8);}
.ai_adventures_card{width: 352px; height: 458px; background-image: linear-gradient(#FFA500, #FFB039);}
.community_images{width: 225.6px; border-radius: 10px;}
.community_container{
    .community_header{
        font-weight: 600 !important;
        color: #0A2540;
        font-size: 48px;
    }
    .community_p{
        font-weight: 600 !important;
        font-size: 24px;
        color: #0A2540;
        margin: 0;
    }
    .community_title{
        color: #0A2540;
        font-weight: 300 !important;
        font-size: 24px;
        margin-left: 15px;
        padding-left: 100px;
    }
    .community_card_name{
        color: #0A2540;
        font-size: 14px;
        font-weight: 900 !important;
    }
    .community_card_desc{
        font-weight: 600 !important;
        color: #0A2540;
        font-size: 14.1px;
    }
    .event-container {
        position: relative;
        overflow: hidden;
        display: inline-block;
        border-radius: 10px;
    }
    
    .community_event_image {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
    
    .event-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#06060682 0%, #1a1a1af0 49.62%, #0000007d 100%);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
.static-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.text-1{
    font-size: 14px;
    font-weight: 600 !important;
    margin-bottom: 4px;
}
.text-2{
    font-size: 10px;
}
.person_logo{
    width: 11%;
    margin-right: 3px;
    color: #fff;
}
.event-container:hover .static-text {
    opacity: 0;
}
    .event-text {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 10px;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .event-container:hover .learn_more_btn{
        border: none;
        background-color: #fff;
        color: #0A2540;
        margin-right: 8px;
        padding: 4px 6px;
        border-radius: 13px;
    }
    .event-header{
        font-size: 14px;
        font-weight: 600 !important;
        height: 25px;
    }
    .event_date{
        margin-bottom: 3px;
    }
    
    .event-container:hover::after {
        opacity: 1;
    }
    
    .event-container:hover .event-text {
        bottom: 17%;
        opacity: 1;
        width: 100%;
        color: #fff;
        z-index: 2;
    }
    
    .community_event_image{
     height: 70%;
    }
    .ai_photo:hover{
        transition: transform 0.3s ease-in-out;
        transform: scale(1.08);
    }
}
.users_section{
    border-radius: 5px;
    color: #fff;
    .users_header{
        font-weight: 600 !important;
        font-size: 43.51px;
    }
    .users_quote{
        font-weight: 300 !important;
        font-size: 25.38px;
    }
    .users_author{
        font-weight: 300 !important;
        font-size: 16.32px;
    }
}
.potential_container{
    .potential_header{
        color: #0A2540;
        font-weight: 600 !important;
        font-size: 40.52px;
    }
    .potential_p{
        color: #0A2540;
        font-weight: 600 !important;
        font-size: 20.26px;
    }
}
.footer_container{
    ul{
        list-style: none;
    }
    li{
        font-size: 18px;
        margin-top: 16px;
        font-weight: 400 !important;
        cursor: pointer;
    }
    .list_header{
        color: #A4E0ED;
        font-weight: 400 !important;
    }
    .footer_subscribe{
        color: #fff;
        font-weight: 400 !important;
        margin-bottom: 16px;
        font-size: 18px;
        margin-top: 16px;
    }
    .footer_email {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: transparent;
        color: white;
        font-size: 16px;
        outline: none; 
      }
      
      .footer_email:focus {
        outline: none; 
        border: none; 
        border-bottom: 1px solid white; 
      }
      
      .footer_email::placeholder {
        color: #ccc;
        opacity: 1;
      }
      
      
      .form-check {
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        font-size: 14px;
      }
      
      .form-check-input {
        width: 18px;
        height: 18px;
        margin: 0;
        appearance: none; 
        background-color: transparent; 
        border: 1px solid #fff; 
        border-radius: 4px; 
        display: inline-block;
        position: relative;
        cursor: pointer;
      }
      
      .form-check-input:checked {
        background-color: transparent; 
      }
      
      .form-check-input:checked::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 6px;
        width: 5px;
        height: 10px;
        border: solid #fff; 
        border-width: 0 1px 1px 0;
        transform: rotate(45deg); 
      }
      
      
      .form-check-label {
        color: white;
      }
      .subscribe_btn{
        background-color: #fff !important;
        color: #0A2540;
        font-size: 15px;
        width: 126.87px;
        height: 38px;
        
      }
}
.logo_wrapper {
    position: relative;
    width: 250px; 
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    position: absolute;
    width: 150px; 
    height: 110px; 
    border-radius: 50%;
    filter: blur(50px);
  }
  
  .pink_circle {
    background: #cc78ed; 
    right: 0;
  }
  
  .blue_circle {
    background: #529ce3; 
    left: 0;
  }
  
  .aisquare_blue_logo {
    position: absolute;
    width: 190px; 
    height: auto;
    z-index: 1;
  }
  
.demo_button{
    border: 1px solid #0A66C2;
    background: transparent;
    color: #0A2540;
    border-radius: 20px;
    padding: 5px 10px;
    width: 20vw;
}
.started_button{
    border: none;
    background: #0A2540;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    width: 16vw;
}
.footer_logo{
    height: 75%;
}


.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }

.hidden-header {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.6s ease, transform 0.6s ease; 
}

.hidden-header.visible {
    opacity: 1; 
    transform: translateY(0); 
}
