<div class="row mt-5 blue_gradient_background text-light p-5 d-flex justify-content-between footer_container">
    <div class="col-md-2">
        <p class="footer_subscribe poppins-light">Subscribe to our newsletter for updates and tips.</p>
        <input type="email" class="footer_email" placeholder="Email">
        <div class="form-check ps-0">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault"> I accept the Terms & Conditions </label>
        </div>
        <button class="join_btn subscribe_btn mt-3 poppins-light"> Subscribe <img src="assets/blue_arrow.png" alt="arrow" class="arrow-icon" /> </button>
    </div>

    <div class="col-md-2">
        <ul class="footer_list poppins-light">
            <li class="list_header"><a>AISquare</a></li>
            <li><a>About Us</a></li>
            <li><a>Careers</a></li>
            <li><a>Creator Studio</a></li>
            <li><a>Developer APIs</a></li>
            <li><a>For Individuals</a></li>
            <li><a>For Recruiters</a></li>
            <li><a>For Investors</a></li>
            <li><a>For Education</a></li>
            <li><a>For Businesses</a></li>
        </ul>
    </div>

    <div class="col-md-2">
        <ul class="footer_list poppins-light">
            <li class="list_header"><a>Popular Games</a></li>
            <li><a>Math Premiur League</a></li>
            <li><a>Python Challengers</a></li>
            <li><a>AI Adventures</a></li>
        </ul>
    </div>

    <div class="col-md-2">
        <ul class="footer_list poppins-light">
            <li class="list_header"><a>Community</a></li>
            <li><a>Newsletter</a></li>
            <li><a>Blogs</a></li>
            <li><a>Podcasts</a></li>
        </ul>
    </div>

    <div class="col-md-2">
        <ul class="footer_list poppins-light">
            <li class="list_header"><a>More</a></li>
            <li><a>Press</a></li>
            <li><a>Investors</a></li>
            <li><a>Terms</a></li>
            <li><a>Privacy</a></li>
            <li><a>Help</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <div class="footer_icon">
                <a href="" class="ms-3"><img src="assets/fb_icon.png"></a>
                <a href="" class="ms-3"><img src="assets/insta_icon.png"></a>
                <a href="" class="ms-3"><img src="assets/linkedin_icon.png"></a>
                <a href="" class="ms-3"><img src="assets/x_icon.png"></a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="assets/footer_logo.png" class="footer_logo" alt="aisquare">
        </div>
        <p class="text-center">OpenGrowth Ventures© 2024–2028</p>
    </div>
</div>